<html>
<head>
  <title>MancJS: Hack Me If You Can</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/css/font-awesome.min.css"></link>
  <link rel="stylesheet" href="/css/app.css"></link>

  <script type="text/javascript" src="/js/jquery-2.0.2.min.js"></script>
  <script type="text/javascript" src="/js/underscore.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
  <div class="container">
    <h1>Hack Me If You Can</h1>
    <div id="teams"></div>
  </div>

  <div class="modal hide fade">
    <div class="modal-header">
      <h3></h3>
    </div>
    <div class="modal-body" style="overflow:hidden;">
      <div style="float: left; width: 120px;">
        <img src="" />
      </div>

      <div style="float: left;">
        <h4></h4>
      </div>
    </div>
  </div>

  <!-- register by making a request to /register -->

</body>
</html>
